body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Estilo para o menu de início */
#gameMenu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza o menu */
    width: 350px;
    height: 300px;
    background-color: rgba(0, 0, 0, .8); /* Fundo semitransparente */
    color: white;
    border-radius: 15px; /* Borda arredondada */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

/* Estiliza a linha de acessórios */
.row-acessorios {
    display: flex;
    justify-content: center; /* Centraliza os botões horizontalmente */
    gap: 10px; /* Espaçamento entre os botões */
}

#startButton {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #3a7ebf;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#startButton:hover {
    background-color: #2a5f89;
}

/* Estilo para o menu de Game Over (já existente) */
#gameOverMenu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza o menu */
    width: 350px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.8); /* Fundo semitransparente */
    color: white;
    border-radius: 15px; /* Borda arredondada */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

.gameOverContent {
    text-align: center;
}

#restartButton {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #3a7ebf;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#restartButton:hover {
    background-color: #2a5f89;
}

#ui-container {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    z-index: 10; /* Garante que o botão fique sobre o canvas */
}

#pause-button {
    background-color: transparent;
    height: 50px;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    background-image: url('../assets/icones/icons8-pausa-48.png'); /* Adiciona a imagem de fundo */
    background-size: cover; /* Faz a imagem cobrir todo o botão */
    background-position: center; /* Posiciona a imagem no centro do botão */
}
#pause-button.paused {
    background-image: url('../assets/icones/icons8-reproduzir-48.png');
}

#pause-button.playing {
    background-image: url('../assets/icones/icons8-pausa-48.png');
}

#countdown {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 20;
    display: none; /* Inicialmente escondido */
    text-align: center;
}

.capivara {
    background-image: url('../assets/iconeAvatares/iconeCapivaraPadrao.png'); /* Coloque o caminho da imagem aqui */
}
.samurai {
    background-image: url('../assets/iconeAvatares/iconeCapivaraSamurai.png'); /* Coloque o caminho da imagem aqui */
}
.oculos {
    background-image: url('../assets/iconeAvatares/iconeCapivaraOculos.png'); /* Coloque o caminho da imagem aqui */
}
.capivara, .samurai, .oculos {
    width: 100px;  /* Tamanho do botão */
    height: 100px; /* Tamanho do botão */
    border-radius: 50%; /* Torna o botão redondo */
    background-size: cover; /* Faz a imagem cobrir todo o botão */
    background-position: center; /* Centraliza a imagem */
    border: none; /* Remove a borda padrão */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    text-align: center; /* Alinha o texto no centro (caso queira manter o texto visível) */
    color: white; /* Cor do texto */
    font-weight: bold; /* Peso da fonte */
    display: flex; /* Flexbox para centralizar o texto */
    justify-content: center;
    align-items: center;
}

.capivara:hover, .samurai:hover, .oculos:hover {
    opacity: 0.8; /* Adiciona um efeito de hover */
}